<p id="notice"><%= notice %></p>

<h1>Trabajos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @positions.each do |position| %>
      <tr>
        <td><%= position.name %></td>
        <td><%= link_to 'Ver', position %></td>
        <td><%= link_to 'Editar', edit_position_path(position) %></td>
        <td><%= link_to 'Eliminar', position, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar Trabajo', new_position_path %>
