<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'Cepa', root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Vinos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to 'Vinos', wines_path, class: 'dropdown-item' %>
          <%= link_to 'Cepas', strains_path, class: 'dropdown-item' %>
          <%= link_to 'Ensamblajes', assemblies_path, class: 'dropdown-item' %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Expertos del Vino
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to 'Enólogos', enologists_path, class: 'dropdown-item' %>
          <%= link_to 'Notas', ratings_path, class: 'dropdown-item' %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Revistas
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to 'Revistas', magazines_path, class: 'dropdown-item' %>
          <%= link_to 'Colaboradores', contracts_path, class: 'dropdown-item' %>
          <%= link_to 'Trabajos', positions_path, class: 'dropdown-item' %>
        </div>
      </li>
    </ul>
  </div>
</nav>  