<p id="notice"><%= notice %></p>

<h1>Ratings</h1>

<table>
  <thead>
    <tr>
      <th>Vino</th>
      <th>Enólogo</th>
      <th>Puntuación</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ratings.each do |rating| %>
      <tr>
        <td><%= rating.wine.name %></td>
        <td><%= rating.enologist.name %></td>
        <td><%= rating.score %></td>
        <td><%= link_to 'Ver', rating %></td>
        <td><%= link_to 'Editar', edit_rating_path(rating) %></td>
        <td><%= link_to 'Eliminar', rating, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rating', new_rating_path %>
