<p id="notice"><%= notice %></p>

<h1>Vinos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Cepas</th>
      <th>Puntuación</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wines.each do |wine| %>
      <tr>
        <td><%= wine.name %></td>
        <td><%= wine.strain_names %></td>
        <td><%= wine.rating_score %></td>
        <td><%= link_to 'Ver', wine %></td>
        <% if current_user.admin? %>
          <td><%= link_to 'Editar', edit_wine_path(wine) %></td>
          <td><%= link_to 'Eliminar', wine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.admin? %>
  <%= link_to 'Agregar vino', new_wine_path %>
<% end %>